---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
const p1Simplelink = "/projects/simplelink.webp"
const p2BmiCalc = "/projects/BMI calculator.webp"
const p3Pokeapp = "/projects/pokeapilink.webp"
const projSrc = [p1Simplelink,p2BmiCalc,p3Pokeapp]
const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hola a Todos 👋</div>
    <div class="text-5xl font-bold">Soy Elias Ballén</div>
    <div class="text-3xl py-3 font-bold">fullstack & Cloud developer</div>
    <div class="py-2">
      <text class="text-lg">
        Disfruto creando soluciones en diferentes aspectos del desarrollo en la nube, me gusta crear productos intuitivos y ofrecer la mejor experiencia de usuario.
      </text>
    </div>
    <div class="mt-8">
      <!--Url a Tu cuenta de Twitter/X -->
      <a class="btn" href="https://www.linkedin.com/in/eliasballen/" target="_blank">Contactame</a>
      <!--Url a Tu cuenta de github / o un mailto:tucuenta@email.com-->
      <a href="mailto:eliasballeng@outlook.com" target="_blank" class="btn btn-outline ml-5">
        Enviame un e-mail
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Mis Últimos Proyectos {"</>"}</div>
  </div>

  <HorizontalCard
    title="Acortador de Links"
    img={projSrc[0]}
    desc="Un Acortador de Links utilizando AWS lambda, Api gateway y DynamoDB y frontend con Angular y Tailwind, con configuraciones personalizadas en los roles IAM para un desarrollo y un mantenimiento mas claro y sencillo."
    url="https://d451n1rat4sv7.cloudfront.net/"
    badge="AWS"
    tags={["NodeJs","Lambda","DynamoDB","Angular","Tailwind"]}
    repository = "https://github.com/EliasBallen/LambDynamoDBShortURL"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Calculadora de Indice de masa corporal"
    img={projSrc[1]}
    desc="Calculadora de Indice de masa corporal, utilizando sam, Java y aws lambda para el backend y para el frontend Angular y Tailwind"
    url="https://d22t1jicpm7d51.cloudfront.net/"
    badge="FullStack"
    tags={["Java","Lambda","Angular","Tailwind"]}
    repository = "https://github.com/EliasBallen/JavaLambdaBMICalc"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="PokeApp"
    img={projSrc[2]}
    desc="aplicacion de pokedex utilizando react y la api de pokemon."
    url="https://pokedex-app-ms28.onrender.com"
    tags={["JavaScript","React","CSS"]}
    repository = "https://github.com/EliasBallen/pokedexapp"
  />
<!-- quitar por ahora si no hay articulos 
por ahora probablemente solo haya 1
-->

<div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Ultimos Blogs</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }


</BaseLayout>
